.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  min-height: 150px;
  margin: auto;
  padding: 45px 0;
  background-color: #000000;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  align-items: center;
  color: #ffffff;
  font-size: 9.6rem;
  text-align: center;
}

@media (max-width: 500px) {
  .text {
    font-size: 6.4rem;
  }
}
